html,
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background: #FF5F6D;
    background: -webkit-linear-gradient(left, #df721d, #FF5F6D);
    background: -o-linear-gradient(left, #df721d, #FF5F6D);
    background: linear-gradient(to right, #df721d, #FF5F6D);

}

$orange: #df731d;
$white: #fff;
$black: #222326;
$green: #5ea756;

button {
    border-radius: 10px;
    background-color: $orange;
    border: none;
    box-shadow: 0px 0px 16.56px 1.44px rgba(0, 0, 2, 0.69);
    width: 305px;
    max-width: 100%;
    min-height: 97px;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    margin-top: 40px;

    &:hover {
        background: darken($orange, 5%);
    }
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    border: 2px solid #a0a0a0;
    background-color: $white;
    width: 300px;
    max-width: 100%;
    height: 38px;
    border-radius: 5px;
    padding: 10px;
    color: #7f8596;
    font-size: 18px;
    font-weight: 400;
    outline: none;

    &:focus {
        border: 2px solid $orange;
    }
}

input[type=checkbox],
input[type=radio] {
    width: 29px;
    height: 29px;
}

.error {
    color: #ce2028;
    font-size: 12px;
    max-width: 300px;
}

label {
    color: $black;
    font-size: 28px;
    font-weight: 700;
    position: relative;
    span {
        color: #ce2028;
        font-size: 16px;
        position: absolute;
        top: 7px;
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main {
    height: 100vh;
}

.form {
    display: none;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    background: $white url("../img/bg.jpg") no-repeat;
    background-size: cover;
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    &__close {
        position: absolute;
        top: 25px;
        right: 30px;
        height: 21px;
        width: 21px;
        cursor: pointer;
        background: url("../img/close.png");
        padding: 0;
        border-radius: unset;
        min-height: 21px;
        box-shadow: none;
        margin: 0;
        outline: none;

        &:hover {
            background: url("../img/close.png");
        }
    }

    &__banner {
        background-color: $black;
        min-height: 76px;
        color: $white;
        font-size: 28px;
        line-height: 43px;
        text-align: center;
        line-height: 1;
        text-transform: capitalize;
        flex-direction: column;

        p {
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 400;
            margin-top: 8px;
            text-transform: none;
        }

        h4 {
            letter-spacing: -0.02em;
            margin-bottom: 0;

        }
    }

    &__info {
        line-height: 1.2;
        margin: 7px auto;
        max-width: 640px;
        text-align: center;
        font-size: 22px;
    }

    &__content {
        align-items: flex-start;
        padding: 30px;

        .content-left,
        .content-right {
            max-width: 50%;
        }

        .input-wrapper {
            display: flex;
            flex-direction: column;
            margin: 5px 0;
            width: 100%;
        }
    }

    .eligibility {
        justify-content: space-between;

        .content-left {
            margin-top: 43px;
            justify-content: flex-start;

            button {
                margin-top: 60px;
            }
        }

        .content-right {
            margin-top: 60px;
        }
    }

    .info {
        justify-content: space-between;
        padding: 7px 30px 30px;

        .content-left {
            justify-content: flex-start;

            button {
                margin-top: 20px;
            }
        }

        &__safe {
            color: #212326;
            font-size: 13px;
            display: block;
            margin: 0 auto;
            padding-left: 14px;
            font-weight: 300;
            text-align: center;
            background: url(../img/lock.png) no-repeat 0 50%;
            margin-top: 7px;
        }
    }

    &__nav {
        max-width: 730px;
        margin: 0 auto;
        padding: 40px 0;
        justify-content: space-between;
        text-align: center;
        margin: 0 50px 0 40px;
        cursor: pointer;

        &>div {
            width: 22.5%;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        p {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 0;
            padding-left: 16px;
        }

        .progress {
            height: 16px;
            color: #050708;
            background: #050708;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            position: relative;

            padding-left: 16px;

            &:after {
                content: url("../img/progress-black.png");
                position: absolute;
                right: -22px;
            }
        }

        div[complete=true] {
            color: #00ad44;

            .progress {
                color: $white;
                background: #00ad44;

                &:after {
                    content: url("../img/progress-green.png");
                    position: absolute;
                    right: -22px;
                }
            }
        }
    }

    .details {
        justify-content: flex-start;
        flex-direction: column;
        background: url("../img/house.png") 100% 100% no-repeat;

        .input-wrapper {
            margin: 18px 0;
        }

        .flex {
            justify-content: space-between;
        }

        label {
            font-size: 24px;
            margin-bottom: 0;
            font-weight: 400;
        }

        &__title {
            font-size: 20px;
            font-weight: 700;
        }

        button {
            margin-top: 10px;
        }

        .mw-f {
            max-width: 630px;
        }

        .mw-s {
            max-width: 330px;
        }

        .mw-t {
            max-width: 196px;
        }
    }

    .discount {
        font-family: 'Roboto Slab', serif;
        border: 2px dashed red;
        padding: 30px 10px 16px;

        &-wrapper {
            background-color: #f2f2f2;
            padding: 10px;
        }

        &__title {
            color: $green;
            font-size: 36px;
            font-weight: 400;
            text-align: center;
            line-height: 1.2;
            max-width: 200px;
            margin: 0 auto;
        }

        &__barcode {

            svg {
                max-width: 100%;
            }
        }

        &__note {
            color: #000000;
            font-size: 9px;
            font-weight: 700;
            text-align: center;
            max-width: 250px;
            margin: 0 auto;
            line-height: 1.2;
            word-break: break-all;

            span {
                background: yellow;
            }
        }

        &__footer {
            justify-content: space-between;
            margin-top: 20px;
            align-items: baseline;

            span {
                font-size: 8px;
            }
        }

        &__logo {
            width: 85px;
            height: 20px;
            background: url("../img/logo.png") no-repeat;
            background-size: cover;
        }
    }

    .benefits {
        &__title {
            margin: 0 auto;
            font-size: 26px;
            text-align: center;
            max-width: 300px;
            line-height: 1.2;
        }

        &__list {
            list-style-image: url("../img/check.png");
            margin-top: 30px;

            li {
                font-size: 20px;
                margin-bottom: 15px;
                min-height: 64px;
            }

            span {
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .form {
        &__nav {
            justify-content: center;

            &>div {
                width: 50%;
            }
        }

        &__content {

            .content-left,
            .content-right {
                width: 100%;
                max-width: 100%;
                // padding: 40px;
            }

            .input-wrapper {
                align-items: center;
            }

            .benefits {
                margin-top: 30px;
            }

        }

        .details {
            background: none;

            &__title {
                text-align: center;
            }

            .mw-f,
            .mw-s,
            .mw-t {
                flex-direction: column;
                align-items: baseline;
            }
        }
    }

}

@media (max-width: 576px) {
    label {
        font-size: 18px;
    }

    .form {
        &__banner {
            padding: 10px;
            font-size: 20px;
            line-height: 1.5;
        }
    }
}

@media (max-width: 360px) {}