html, body {
  font-family: 'Open Sans', sans-serif; }

button {
  border-radius: 10px;
  background-color: #df731d;
  border: none;
  box-shadow: 0px 0px 16.56px 1.44px rgba(0, 0, 2, 0.69);
  width: 305px;
  max-width: 100%;
  min-height: 97px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
  text-align: center; }
  button:hover {
    background: #c8671a; }
